.slider {
  position: relative;
  height: 400px;

  .slide-image {
    height: 400px;
    object-fit: cover;
  }

  .slick-prev,
  .slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    // svg {
    //   width: 20px;
    //   height: 20px;
    // }
  }

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }
}
