<<<<<<< HEAD
.header {
  padding-top: 50px;
=======
.proudct-detail-wrap {
  padding: 80px 90px;

  .product-top-wrap {
    display: flex;
    justify-content: center;
  }
>>>>>>> feature/product-detail
}
