.nav-header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  z-index: 130;

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
    padding-bottom: 30px;
    .left-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      .logo {
        width: 20%;
        .main-logo {
          object-fit: cover;
          width: 100%;
          height: 30px;
        }
      }
      .search-wrap {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        margin-left: 50px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        .search-input {
          background-color: transparent;
          display: inline-block;
          margin-left: 10px;
          padding: 4px 0px 0px;
          width: 95%;
          border: none;
          text-align: left;
          font-size: 20px;
          outline: none;
        }
        .search-icon {
          object-fit: cover;
          cursor: pointer;
          width: 5%;
        }
      }
    }

    .right-wrap {
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-wrap {
        display: flex;
        .cart-wrap {
          .cart-icon {
            width: 30px;
            height: 30px;
          }
        }
        .login-wrap {
          margin-right: 10px;
          margin-left: 20px;
          font-size: 20px;
        }
      }
    }
  }

  .bottom-header {
    margin: 0 auto;
    padding-top: 5px;
    border-top: 1px solid black;

    .nav-category-wrap {
      display: flex;
      margin: 0 auto;
      width: 1250px;

      .nav-category-list {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        margin-right: 80px;
        a:hover {
          text-decoration: underline;
          color: rgb(150, 82, 4);
        }
      }
    }
  }
}

// .test-area {
//   width: 100%;
//   height: 300px;
//   background-color: aqua;
// }
